/*html background color*/
$html_color: #f0f0f0;

/*colores generales*/
$bg-white: #fff;
$bg-orange: #ff993e;
$bg-red: #c0392b;
$bg-soft-red: #e74c3c;
$bg-green: #008002;
$bg-brown: #874001;
$bg-grey: #d0d0d0;
